.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/assets/images/auth/auth-background.svg") no-repeat center;
  background-size: cover;
  font-family: "Arial", sans-serif;

  .login-background {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .login-form {
      width: 400px;
      height: 400px;
      background-color: rgba(255, 255, 255, 1);
      padding: 2.5rem;
      border-radius: 20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

      h2 {
        font-size: 22px;
        color: rgba(12, 21, 73, 1) 333;
        font-family: Inter;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        text-align: left;
      }

      p {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }

    .password-input {
      position: relative;
    }

    .show_password {
      text-align: right;
      position: absolute;
      top: 2.5rem;
      right: 1rem;
    }

    .login-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      text-align: center;

      .btn{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .password-toggle {
    font-family: 'Material Icons', sans-serif;
    font-size: 24px; /* Adjust size if needed */
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  }
}

// .mat-spinner-color::ng-deep circle {
//   stroke: #ffffff !important;
// }
