<div id="monitored-event">
  <div class="header">
    <div class="tab-name">Monitored events</div>
  </div>

  <div class="filter-container">
    <div class="inner-filter">
      <div class="view">View:</div>
      <div class="filter-dropdown">
        <div class="input-container">
          <!-- <mat-label> Event Category </mat-label> -->
          <select style="width: 100%">
            <option>All Events</option>
            <option>Authentication Events</option>
            <option>Account Management Events</option>
            <option>Transactional Events</option>
            <option>Security and Permission Events</option>
            <option>Infrastructure / Technical Events</option>
            <option>Behavioural Anomalies</option>
          </select>
        </div>
      </div>
    </div>
    <div class="filter-input">
      <div class="form-container input-container">
        <!-- <mat-label> Event Category </mat-label> -->
        <input
          matInput
          placeholder="Search from table"
          class="custom-input form-control"
          type="text"
        />
      </div>
      <div>
        <button (click)="createAndEdit('Create')">+ Add New Event</button>
      </div>
    </div>
  </div>

  <!-- table area -->
  <div class="main-container">
    <div class="table-container">
      <div style="overflow-x: auto">
        <table>
          <thead>
            <tr>
              <td>EVENT NAME</td>
              <td>EVENT KEYWORD</td>
              <td>EVENT TYPE</td>
              <td>DESCRIPTION</td>
              <!-- <td></td> -->
              <td></td>
            </tr>
          </thead>
          <tbody>
            <!-- <div
                class="no-record"
                *ngIf="availableMicroservices?.length == 0 && !dataLoader"
              >
                No record Found
              </div> -->
            <ng-container *ngFor="let event of events">
              <tr>
                <td>{{ event.title }}</td>
                <td>
                  <span class="event_key">{{ event.event }}</span>
                </td>
                <td>{{ event.category }}</td>
                <td>{{ event.description }}</td>
                <td>
                  <img
                    class="more-options"
                    [matMenuTriggerFor]="nav"
                    src="/assets/images/dashboard/more-options.svg"
                    alt=""
                  />
                </td>
              </tr>
              <mat-menu class="menu-tray" #nav="matMenu">
                <div class="mat-menu-item">
                  <a (click)="createAndEdit(event)" style="cursor: pointer"
                    >Edit &nbsp; &nbsp; &nbsp; &nbsp;<img
                      src="/assets/images/dashboard/edit.svg"
                      alt=""
                  /></a>
                </div>
                <div style="margin-top: 1rem" class="mat-menu-item">
                  <a (click)="deleteModal(event)" style="cursor: pointer"
                    >Delete &nbsp; &nbsp;<img
                      src="/assets/images/dashboard/delete.svg"
                      alt=""
                  /></a>
                </div>
              </mat-menu>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
