<div id="configuration">
  <div class="header">
    <div class="tab-name">Configuration</div>
  </div>

  <div class="filter-container">
    <div class="inner-filter">
      <div class="filter-dropdown">
        <div class="input-container">
          <select (change)="actionType($event)" style="width: 100%">
            <option></option>
            <option value="channel">Channel</option>
            <option value="bank">Bank</option>
            <option value="transaction">Transaction Type</option>
            <option value="currency">Currency</option>
          </select>
        </div>
      </div>
      <div class="form-container input-container">
        <input
          matInput
          placeholder="Quick find"
          class="custom-input form-control"
          type="text"
        />
      </div>
      <div>
        <button (click)="createConfiguration('Create')">+ Create New</button>
      </div>
    </div>
    <div class="filter-input">
      <!-- <div class="form-container input-container">
          <input
            matInput
            placeholder="Search from table"
            class="custom-input form-control"
            type="text"
          />
        </div>
        <div>
          <button>+ Add New Event</button>
        </div> -->
    </div>
  </div>

  <div class="main-container">
    <div class="content">
      <div
        *ngIf="selectedConfigurationType === 'channel'"
        class="table-container"
      >
        <div style="overflow-x: auto">
          <table>
            <thead>
              <tr>
                <td>Channel Name</td>
                <td>Channel Code</td>
                <td>Description</td>
                <td>Edit</td>
                <td>Del...</td>
              </tr>
            </thead>
            <tbody>
              <div
                class="no-record"
                *ngIf="
                  (allAvailableChannels == null ||
                  allAvailableChannels == undefined) &&
                  !tableLoader
                "
              >
                No record found
              </div>
              <ng-container *ngFor="let item of allAvailableChannels">
                <tr>
                  <td>{{ item?.name }}</td>
                  <td>
                    <span>{{ item?.code }}</span>
                  </td>
                  <td>{{ item.description }}</td>
                  <td>
                    <img
                      (click)="createConfiguration(item)"
                      src="/assets/images/dashboard/edit.svg"
                      alt=""
                    />
                  </td>
                  <td>
                    <img
                      (click)="deleteModal(item)"
                      src="/assets/images/dashboard/delete.svg"
                      alt=""
                    />
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <app-table-loader *ngIf="tableLoader"></app-table-loader>
        </div>
      </div>

      <!-- Bank view -->
      <div class="table-container" *ngIf="selectedConfigurationType === 'bank'">
        <div style="overflow-x: auto">
          <table>
            <thead>
              <tr>
                <td>Bank Name</td>
                <td>Bank Code</td>
                <td>Description</td>
                <td>Edit</td>
                <td>Del...</td>
              </tr>
            </thead>
            <tbody>
              <div
                class="no-record"
                *ngIf="
                  (allAvailableBanks == null ||
                    allAvailableBanks == undefined) &&
                  !bankTableLoader
                "
              >
                No record found
              </div>
              <ng-container *ngFor="let item of allAvailableBanks">
                <tr>
                  <td>{{ item.name }}</td>
                  <td>
                    <span>{{ item.code }}</span>
                  </td>
                  <td>{{ item.description }}</td>
                  <td>
                    <img
                      (click)="createConfiguration(item)"
                      src="/assets/images/dashboard/edit.svg"
                      alt=""
                    />
                  </td>
                  <td>
                    <img
                      (click)="deleteModal(item)"
                      src="/assets/images/dashboard/delete.svg"
                      alt=""
                    />
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <app-table-loader *ngIf="bankTableLoader"></app-table-loader>
        </div>
      </div>

      <!-- Transaction view -->
      <div
        class="table-container"
        *ngIf="selectedConfigurationType === 'transaction'"
      >
        <div style="overflow-x: auto">
          <table>
            <thead>
              <tr>
                <td>Transaction Type Name</td>
                <td>Transaction Type Code</td>
                <td>Description</td>
                <td>Edit</td>
                <td>Del...</td>
              </tr>
            </thead>
            <tbody>
              <div
                class="no-record"
                *ngIf="
                  (allAvailableTransactions == null ||
                    allAvailableTransactions == undefined) &&
                  !transactionTableLoader
                "
              >
                No record found
              </div>
              <ng-container *ngFor="let item of allAvailableTransactions">
                <tr>
                  <td>{{ item?.name }}</td>
                  <td>
                    <span>{{ item?.code }}</span>
                  </td>
                  <td>{{ item?.description }}</td>
                  <td>
                    <img
                      (click)="createConfiguration(item)"
                      src="/assets/images/dashboard/edit.svg"
                      alt=""
                    />
                  </td>
                  <td>
                    <img
                      (click)="deleteModal(item)"
                      src="/assets/images/dashboard/delete.svg"
                      alt=""
                    />
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <app-table-loader *ngIf="transactionTableLoader"></app-table-loader>
        </div>
      </div>

      <!-- Currency view -->
      <div
        class="table-container"
        *ngIf="selectedConfigurationType === 'currency'"
      >
        <div style="overflow-x: auto">
          <table>
            <thead>
              <tr>
                <td>Currency Name</td>
                <td>Currency Code</td>
                <td>Description</td>
                <td>Edit</td>
                <td>Del...</td>
              </tr>
            </thead>
            <tbody>
              <div
                class="no-record"
                *ngIf="
                  (allAvailableCurrency == null ||
                    allAvailableCurrency == undefined) &&
                  !currencyTableLoader
                "
              >
                No record found
              </div>
              <ng-container *ngFor="let item of allAvailableCurrency">
                <tr>
                  <td>{{ item.name }}</td>
                  <td>
                    <span>{{ item.code }}</span>
                  </td>
                  <td>{{ item.description }}</td>
                  <td>
                    <img
                      (click)="createConfiguration(item)"
                      src="/assets/images/dashboard/edit.svg"
                      alt=""
                    />
                  </td>
                  <td>
                    <img
                      (click)="deleteModal(item)"
                      src="/assets/images/dashboard/delete.svg"
                      alt=""
                    />
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <app-table-loader *ngIf="currencyTableLoader"></app-table-loader>
        </div>
      </div>
    </div>
  </div>
</div>
