<div id="fraud-scanner">
  <div class="header">
    <div class="tab-name">Suspected Transactions</div>
    <div class="last-updated">Last updated 30 seconds ago</div>
  </div>

  <div class="filter-container">
    <div class="filter-btns">
      <div class="detected">Detected</div>
      <div>Fraudulent</div>
      <div>False Positives</div>
    </div>
    <div class="filter-input">
      <div class="input-container">
        <!-- <label class="label" for="email"> Api Type </label> -->
        <select style="width: 100%">
          <option>All Priorites</option>
          <option>Part Priorites</option>
        </select>
      </div>

      <div class="form-container input-container">
        <input
          matInput
          placeholder="Search from table"
          class="custom-input form-control"
          type="text"
        />
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="table-container">
      <div class="content">
        <div class="detected-transaction">
          <div class="table-header">Suspected Transactions</div>
          <div style="overflow-x: auto">
            <table>
              <thead>
                <tr>
                  <td>
                    <img
                      width="auto"
                      src="/assets/images/dashboard/table-trans-icon.svg"
                      alt=""
                    />
                  </td>
                  <td>Account Name</td>
                  <td>Amount (NGN)</td>
                  <td>Location</td>
                  <td>Trans. Type</td>
                  <td>Trans. Direction</td>
                  <td>Date and Time</td>
                </tr>
              </thead>
              <tbody>
                <!-- <div
                class="no-record"
                *ngIf="availableMicroservices?.length == 0 && !dataLoader"
              >
                No record Found
              </div> -->
                <ng-container>
                  <tr (click)="showDetails()">
                    <td>
                      <img
                        src="/assets/images/dashboard/detected-inactive.svg"
                        alt=""
                      />
                    </td>
                    <td>Jack Samuel...</td>
                    <td>12,1234...</td>
                    <td>Kaduna</td>
                    <td>Card Pay...</td>
                    <td>Outward</td>
                    <td>12/08/2023....</td>
                  </tr>

                  <tr (click)="showDetails()">
                    <td>
                      <img
                        src="/assets/images/dashboard/outward-inactive.svg"
                        alt=""
                      />
                    </td>
                    <td>Jack Samuel...</td>
                    <td>12,1234...</td>
                    <td>Lagos</td>
                    <td>outward...</td>
                    <td>inward</td>
                    <td>12/08/2023....</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
