<div id="blacklist">
  <div class="header">
    <div class="tab-name">Allow Sender/Receiver Pairs</div>
  </div>

  <div class="filter-container">
    <div class="inner-filter filter-input">
      <div class="form-container input-container">
        <input
          matInput
          [(ngModel)]="search"
          placeholder="Quick find by sender, recepientBank, description"
          class="custom-input form-control"
          type="text"
        />
      </div>
      <div>
        <button (click)="createAndEdit('Create')">+ Add New Item</button>
      </div>
    </div>
    <div class="filter-input">
      <!-- <div class="form-container input-container">
          <input
            matInput
            placeholder="Search from table"
            class="custom-input form-control"
            type="text"
          />
        </div>
        <div>
          <button>+ Add New Event</button>
        </div> -->
    </div>
  </div>

  <div class="main-container">
    <div class="content">
      <div class="table-container">
        <div style="overflow-x: auto">
          <table>
            <thead>
              <tr>
                <td>Sender Account</td>
                <td>Recepient Account</td>
                <td>Code</td>
                <td>Description</td>
                <td>Added By</td>
                <td>Added On</td>
                <td>Edit</td>
                <td>Del...</td>
              </tr>
            </thead>
            <tbody>
              <div
                class="no-record"
                *ngIf="
                  (allrecvPairlist == null || allrecvPairlist == undefined) &&
                  !tableLoader
                "
              >
                No record Found
              </div>
              <ng-container *ngFor="let item of allrecvPairlist | filter : search as folder">
                <tr>
                  <td>{{ item?.sender }}</td>
                  <td>
                    <span>{{ item?.recepientBank }}</span>
                  </td>
                  <td>
                    <span>{{ item?.code }}</span>
                  </td>
                  <td>{{ item?.description }}</td>
                  <td>{{ item?.createdBy }}</td>
                  <td>{{ item?.dateCreated | date : "dd/MM/yyyy" }}</td>
                  <td>
                    <img
                      (click)="createAndEdit(item)"
                      src="/assets/images/dashboard/edit.svg"
                      alt=""
                    />
                  </td>
                  <td>
                    <img
                      (click)="deleteModal(item)"
                      src="/assets/images/dashboard/delete.svg"
                      alt=""
                    />
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <app-table-loader *ngIf="tableLoader"></app-table-loader>
        </div>
      </div>
    </div>
  </div>
</div>
