<div id="header">
  <div class="header-content">
    <div class="page-title"></div>
    <div class="profile">
      <div class="environment-switch">
        <div class="switch"></div>
      </div>
      <!-- <div class="user">
        <div>U</div>
      </div> -->
      <div class="options" [matMenuTriggerFor]="nav">
        <img src="/assets/images/dashboard/dropDown.svg" alt="" />
      </div>
      <div class="profile-container">
        <div>
            <div class="options" [matMenuTriggerFor]="nav">
              <img src="/assets/images/dashboard/profile.svg" alt="" />
            </div>
        </div>

        <div>
            <div class="userName">Ruby Olawole</div>
            <div>Administrator Supreme</div>
        </div>
      </div>
    </div>
  </div>
  <mat-menu class="menu-tray" #nav="matMenu">    
    <div class="mat-menu-item">
      <a (click)="logOut()" style="cursor: pointer"
        >Logout &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img
          src="/assets/images/dashboard/logout.svg"
          alt=""
      /></a>
    </div>

    <div style="margin-top: 0.7rem;" class="mat-menu-item">
      <a (click)="settings()" style="cursor: pointer;"
        >Settings &nbsp; &nbsp; &nbsp; &nbsp;<img
          src="/assets/images/dashboard/setting.svg"
          alt=""
      /></a>
    </div>
  </mat-menu>
</div>
