<div class="modal">
  <div class="close">
    <img
      (click)="closeModal('close')"
      src="/assets/images/dashboard/close.svg"
      alt=""
    />
  </div>
  <div class="header">
    {{ data.actionType == "Create" ? "Create New" : "Edit" }} Channel
  </div>
  <div class="sub-header">
    Please fill in the details to
    {{ data.actionType == "Create" ? "create a new " : "edit" }} channel.
  </div>

  <form [formGroup]="channelForm">
    <div class="form-container">
        <div class="input-container">
            <label class="label" for="email"> Channel Name </label>
            <input
              formControlName="channelName"
              matInput
              class="custom-input form-control"
              type="text"
            />
          </div>

      <div class="input-container">
        <label class="label" for="email"> Channel Code </label>
        <input
          formControlName="channelCode"
          matInput
          class="custom-input form-control"
          type="text"
        />
      </div>

      <div class="input-container">
        <label class="label" for="email"> Description </label>
        <textarea
          formControlName="description"
          name=""
          rows="10"
          cols="50"
        ></textarea>
      </div>

      <div class="buttons">
        <div>
          <button type="button" (click)="closeModal('close')" class="cancel">
            Cancel
          </button>
        </div>
        <div>
          <button
            (click)="createEvent('create')"
            type="submit"
            class="action-btn"
          >
            <span
              >{{ data.actionType == "Create" ? "Create" : "Update" }}
            </span>
            <span class="flex justify-center">
              <!-- <mat-spinner
                  *ngIf="loading"
                  diameter="21"
                  class="mat-spinner-color"
                ></mat-spinner> -->
            </span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
