<div class="modal">
  <div class="close">
    <img
      (click)="closeModal('close')"
      src="/assets/images/dashboard/close.svg"
      alt=""
    />
  </div>
  <div class="header">
    {{ data.actionType == "Create" ? "Create New" : "Edit" }} Channel
  </div>
  <div class="sub-header">
    Please fill in the details to
    {{ data.actionType == "Create" ? "create a new " : "edit" }} channel.
  </div>

  <form [formGroup]="channelForm">
    <div class="form-container">
      <div class="input-container">
        <label class="label" for="email"> Channel Name </label>
        <input
          formControlName="channelName"
          matInput
          class="custom-input form-control"
          type="text"
        />

        <mat-error
          class="alert"
          *ngIf="
            (channelFormControl['channelName'].touched || submitted) &&
            channelFormControl['channelName']?.invalid
          "
        >
          <img
            src="/assets/icons/error.svg"
            alt=""
            class="img-fluid error-icon"
          />
          {{ getErrorMessage("channelName") }}
        </mat-error>
      </div>

      <div class="input-container">
        <label class="label" for="email"> Channel Code </label>
        <input
          formControlName="channelCode"
          matInput
          class="custom-input form-control"
          type="text"
        />

        <mat-error
          class="alert"
          *ngIf="
            (channelFormControl['channelCode'].touched || submitted) &&
            channelFormControl['channelCode']?.invalid
          "
        >
          <img
            src="/assets/icons/error.svg"
            alt=""
            class="img-fluid error-icon"
          />
          {{ getErrorMessage("channelCode") }}
        </mat-error>
      </div>

      <div class="input-container">
        <label class="label" for="email"> Description </label>
        <textarea
          formControlName="description"
          name=""
          rows="10"
          cols="50"
        ></textarea>
        <mat-error
          class="alert"
          *ngIf="
            (channelFormControl['description'].touched || submitted) &&
            channelFormControl['description']?.invalid
          "
        >
          <img
            src="/assets/icons/error.svg"
            alt=""
            class="img-fluid error-icon"
          />
          {{ getErrorMessage("description") }}
        </mat-error>
      </div>

      <div class="buttons">
        <div>
          <button type="button" (click)="closeModal('close')" class="cancel">
            Cancel
          </button>
        </div>
        <div>
          <button
            (click)="createAndUpdateChannel('create')"
            type="submit"
            class="action-btn"
          >
            <span *ngIf="!loading"
              >{{ data.actionType == "Create" ? "Create" : "Update" }}
            </span>
            <span class="flex justify-center">
              <mat-spinner
                *ngIf="loading"
                diameter="21"
                class="mat-spinner-color"
              ></mat-spinner>
            </span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
