<div id="rule">
  <div class="header">
    <div class="tab-name">Rules Management</div>
  </div>

  <div class="filter-container">
    <div class="filter-btns">
      <div class="detected">Static Rules</div>
      <div>Event Based Rules</div>
    </div>
    <div class="filter-input">
      <div class="form-container input-container">
        <input
          [(ngModel)]="search"
          matInput
          placeholder="Searh by name, description"
          class="custom-input form-control"
          type="text"
        />
      </div>
      <div class="create-icon">
        <button (click)="createRule('create')">+ Create New Rule</button>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div *ngIf="isEmpty" class="empty-state">
      <div class="empty-state-content">
        <div>
          <img src="/assets/images/dashboard/code-icon.svg" alt="" />
          <div>
            Click on the <span class="create">“+ Create New Rule”</span> button
            to get started with setting up a new fraud detection rule.
          </div>
        </div>
      </div>
    </div>

    <div class="table-container" *ngIf="!isEmpty">
      <div class="title">Static Rules</div>

      <div style="overflow-x: auto">
        <table>
          <thead>
            <tr>
              <td>RULE NAME</td>
              <td>CRITERIA</td>
              <td>DESCRIPTION</td>
              <td>Action</td>
              <td>Status</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <!-- <div
                  class="no-record"
                  *ngIf="availableMicroservices?.length == 0 && !dataLoader"
                >
                  No record Found
                </div> -->
            <ng-container
              *ngFor="let rule of allRules | filter : search as folder"
            >
              <tr>
                <td>{{ rule?.name }}</td>
                <td>
                  <span
                    *ngFor="let criteria of rule?.transactionCriterias"
                    class="event_key"
                    >{{ criteria?.criteria }} = {{ criteria?.value }}</span
                  >
                </td>
                <td>{{ rule?.description }}</td>
                <td
                  [ngClass]="
                    rule.Action === 'HOLD'
                      ? 'holdAndBlock'
                      : rule.Action === 'DELAY'
                      ? 'delay'
                      : ''
                  "
                >
                  <span>{{ rule?.action }}</span>
                </td>
                <td>{{ rule?.isApproved }}</td>
                <td>
                  <img
                    (click)="veiwRuleDetails(rule)"
                    class="more-options"
                    src="/assets/images/rules/view-details.svg"
                    alt=""
                  />
                </td>
              </tr>
              <!-- <mat-menu class="menu-tray" #nav="matMenu">
                <div class="mat-menu-item">
                  <a style="cursor: pointer"
                    >Edit &nbsp; &nbsp; &nbsp; &nbsp;<img
                      src="/assets/images/dashboard/edit.svg"
                      alt=""
                  /></a>
                </div>
                <div style="margin-top: 1rem" class="mat-menu-item">
                  <a style="cursor: pointer"
                    >Delete &nbsp; &nbsp;<img
                      src="/assets/images/dashboard/delete.svg"
                      alt=""
                  /></a>
                </div>
              </mat-menu> -->
            </ng-container>
          </tbody>
        </table>
        <app-table-loader *ngIf="tableLoader"></app-table-loader>
      </div>
    </div>
  </div>
</div>
