<div id="rule">
  <div class="header">
    <div class="tab-name">Rules Management</div>
  </div>

  <div class="filter-container">
    <div class="filter-btns">
      <div class="detected">Static Rules</div>
      <div>Event Based Rules</div>
    </div>
    <div class="filter-input">
      <div class="form-container input-container">
        <input
          matInput
          placeholder="Searh"
          class="custom-input form-control"
          type="text"
        />
      </div>
      <div>
        <button>+ Create New Rule</button>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="empty-state">
      <div class="empty-state-content">
        <div>
          <img src="/assets/images/dashboard/code-icon.svg" alt="" />
          <div>
            Click on the <span class="create">“+ Create New Rule”</span> button to get started
            with setting up a new fraud detection rule.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
