<div id="trans-checker">
  <div class="header">
    <div class="tab-name">Transaction Checker</div>
  </div>

  <div class="filter-container">
    <div class="filter-btns">
      <div class="detected">Session ID</div>
    </div>
    <div class="filter-input">
      <div class="form-container input-container">
        <input
          matInput
          placeholder="Searh"
          class="custom-input form-control"
          type="text"
        />
      </div>
      <div class="input-container form-container transaction-type-dropdown">
        <select style="width: 100%">
          <option></option>
          <option> Outward </option>
          <option> Inward </option>
        </select>
      </div>
      <div>
        <button routerLink="/dashboard/trans-checker/details">Submit</button>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="empty-state">
      <div class="empty-state-content">
        <div>
          <img src="/assets/images/dashboard/funds-line.svg" alt="" />
          <div>
            Fill in the Session ID above and click
            <span class="create">“Search”</span>to analyse the transaction
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
