<div class="success">
  <div class="close">
    <img
      (click)="closeModal('close')"
      src="/assets/images/dashboard/close.svg"
      alt=""
    />
  </div>
  <div class="content form-container">
    <div>
      <div *ngIf="data.apiAction == 'Create'" class="title">New {{ data?.actionType}} Added</div>
      <div *ngIf="data.apiAction == 'Edit'" class="title">{{ data?.actionType}} update</div>
      <div *ngIf="data.apiAction == 'Delete'" class="title">{{ data?.actionType}} delete</div>
      <img src="/assets/images/dashboard/success-icon.svg" alt="" />
      <div>{{ data?.actionMessage}}</div>

      <div class="buttons">
        <!-- <div>
          <button type="button" (click)="closeModal('close')" class="cancel">
            Cancel
          </button>
        </div> -->
        <div>
          <button type="submit"(click)="closeModal('item')"  class="okay_button">
            <span> Okay </span>
            <span class="flex justify-center">
              <!-- <mat-spinner
                      *ngIf="loading"
                      diameter="21"
                      class="mat-spinner-color"
                    ></mat-spinner> -->
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
